    {% extends 'commerce/base.html' %}
        {% load static %}
 {% block title %}
    About Us
{% endblock title %}
{% block description %}

{% endblock description %}
{% block keyword %}

{% endblock keyword %}
{% block header %}
        {% include "commerce/header.html" %}
{% endblock header %}
{% block sidebar %}
      
{% endblock sidebar %}
{% block slider %}

{% endblock slider %}

{% block content %}
    <!-- Begin Li's Breadcrumb Area -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li class="active">About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->
            <!-- about wrapper start -->
            <div class="about-us-wrapper pt-60 pb-40">
                <div class="container">
                    <div class="row">
                        <!-- About Text Start -->
                        <div class="col-lg-6 order-last order-lg-first">
                            <div class="about-text-wrap">
                                <h2><span>Provide Best</span>Product For You</h2>
                                <p>{{setting.description}}</p>
                            </div>
                        </div>
                        <!-- About Text End -->
                        <!-- About Image Start -->
                        <div class="col-lg-5 col-md-10">
                            
                                <img class="img-full" src="{{setting.icon.url}}" alt="About Us" />
                            
                        </div>
                        <!-- About Image End -->
                    </div>
                </div>
            </div>
            <!-- about wrapper end -->
{% endblock content %}
           
{% block footer %}
           {% include "commerce/footer.html" %} 
{% endblock footer %}